.popup__save-button {
  height: 50px;
  margin: 18px 0 37px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity .4s ease;
}

.popup__save-button:hover {
  opacity: 0.8;
}


@media screen and (max-width: 600px) {
  .popup__save-button {
    margin: 16px 0 25px;
    font-size: 14px;
    line-height: 17px;
  }
}

