.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 880px;
  margin: auto;
 }

 @media screen and (max-width: 1080px) {
   .header-container {
     width: calc(100% - 2*100px);
   }
 }

 @media screen and (max-width: 600px) {
   .header-container {
     width: 100%;
   }
 }
